*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #ffffff;
}

body{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
background-color: #212121;
}

.container{
    position: relative;
}
.clock{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: rgba(255,255, 255, 0.1);
    border: 2px solid rgba(255,255, 255, 0.3);
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height:8px;
    border-radius: 50px;
    background-color: #ffffff;
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    border-radius: 8px;
    transform-origin: bottom;
}
.hand:nth-child(1) i {
    height: 70px; /* Shorter for hour hand */
}

.hand:nth-child(2) i {
    height: 90px; /* Medium for minute hand */
}

.hand:nth-child(3) i {
    height: 110px; /* Longest for second hand */
}
